/* Pomodoro.css */

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.navigation-tabs button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  color: #555;
  outline: none;
  transition: color 0.3s;
}

.navigation-tabs button.active {
  color: #ff4081;
  font-weight: bold;
}

.timer-container {
  margin: 20px 0;
}

.timer {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
}

.timer h3 {
  margin: 0;
}

@keyframes ring {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  border-radius: 50%;
  animation: ring 1s ease-out forwards;
}

.button-container {
  display: flex;
  gap: 10px; /* Add space between buttons */
}



.music-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add space between music buttons */
}

.music-controls button {
  margin-right: 5px; /* Add space between play and pause buttons */
}
